# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

/src/**/*.js
/src/**/*.js.map
/src/**/*.metadata.json
/src/**/*.ngfactory.js
/src/**/*.ngfactory.js.map
/src/**/*.ngsummary.json
/src/**/*.shim.ngstyle.js
/src/**/*.shim.ngstyle.js.map